body {
    background-color: gray;
}
.header {
    background-color: rgb(227, 222, 222);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px; 
    display: flex;
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.nav-container {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}
.nav-list li{
    text-decoration: none;
    color: rgb(64, 30, 158);
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.icon {
    width: 25px; 
    height: 25px; 
    margin-left: 5px;
 
}
.icon svg {
    vertical-align: middle;
}
.image-container {
    background-color: white;
    width: 200px;
    height: 180px;
    margin-right: 5px;
}
.image-box {
    background-color: white;
    width: 250px;
    height: 280px;
    margin-right: 5px;
}
.image {
    width: 240px;
    margin-left: 5px;
    margin-top: 5px;
    height: 200px;
}
.image-caption {
    margin-left: 5px;
}
.main-image {
    margin-left: 300px;
    width: 550px;
    height:280px;
    margin-top: -50px;
}
.description {
    margin-left: 300px;
   
}
.title {
    margin-left: 300px;
    margin-top: -400px;
    font-weight: bold;
}
.continue-button {
    background-color: rgb(17, 90, 200);
    margin-left: 300px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin-top: 350px;
}
